body {
    height: 100vh;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: none;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9 {
    border: 1px solid white;
    height: 100%;
    width: 100%; 
    box-sizing: border-box;
    display: flex;              
    justify-content: center;     
    align-items: center;        
    font-size: 48px;            
    color: transparent;           
    transition: color 0.3s;
    font-family: sans-serif;
}

#box1:hover, #box2:hover, #box3:hover, 
#box4:hover, #box5:hover, #box6:hover, 
#box7:hover, #box8:hover, #box9:hover 
{
    background-color: rgba(255, 255, 255, 0.1); /* Add hover effect */
}